.postContainer{
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
    text-align: left;
}

.postImage{
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.postTitle{
    margin: 0.2em;
    font-weight: bold;
}
.postDescription{
    font-style: italic;
}